{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Adaugă produs în Magazin{% endblock %}

{% block content %}
<h1>Adaugă produs (vânzare directă)</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <h5>Imagini (max 5)</h5>
  {{ formset.management_form }}
  {% for f in formset %}
    <div class="mb-3">
      {{ f|crispy }}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-success">Trimite pentru validare</button>
</form>
{% endblock %}
