{% extends "base.html" %}

{% block title %}Încarcă Dovadă – {{ product.name }}{% endblock %}

{% block content %}
<h1>Încarcă dovadă de autenticitate pentru «{{ product.name }}»</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label for="id_proof" class="form-label">Alege fișier</label>
    <input type="file" name="authenticity_proof" id="id_proof" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Încarcă</button>
</form>
{% endblock %}
