{% extends "base.html" %}
{% block title %}Portofel{% endblock %}
{% block content %}
<h2>Portofelul meu</h2>
<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title">Sold curent</h3>
    <p class="display-4">{{ wallet.balance }} RON</p>
    <a href="{% url 'wallet:wallet_topup' %}" class="btn btn-success me-2">Alimentare</a>
    <a href="{% url 'wallet:wallet_payout' %}" class="btn btn-warning">Retragere</a>
  </div>
</div>
<a href="{% url 'wallet:transaction_history' %}" class="btn btn-link">Vezi istoricul tranzacțiilor</a>
{% endblock %}
