{% load static %}

<!-- Footer -->
<footer id="footer" class="footer-default xl-pb-70">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-wrap">
                <div class="footer-logo">
                    <a href="{% url 'core:home' %}">
                        <img src="{% static 'images/logo/logo.png' %}" class="logo" alt="logo">
                    </a>
                </div>
                <ul class="tf-social-icon style-large">
                    <li>
                        <a href="https://www.facebook.com/" class="social-item social-instagram">
                            <img src="{% static 'images/logo/snobistic1.png' %}" alt="Snobistic" width="32" height="32">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" class="social-item social-instagram">
                            <img src="{% static 'images/logo/snobistic2.png' %}" alt="Snobistic" width="32" height="32">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" class="social-item social-linkedin">
                            <img src="{% static 'images/logo/snobistic3.png' %}" alt="Snobistic" width="32" height="32">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" class="social-item social-facebook">
                            <i class="icon icon-fb"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" class="social-item social-instagram">
                            <i class="icon icon-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" class="social-item social-linkedin">
                            <i class="icon icon-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/" class="social-item social-x">
                            <i class="icon icon-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-body">
        <div class="container">
            <div class="row-footer">
                <div class="footer-inner-wrap footer-col-block s2">
                    <div class="footer-col-block inner-col">
                        <div class="tf-collapse-content">
                            <ul class="footer-menu-list">
                                <li><a href="#">Despre noi</a></li>
                                <li><a href="#">Moda sustenabila</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Termeni & Conditii</a></li>
                                <li><a href="#">Politica de Confidentialitate</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-inner-wrap footer-col-block s2">
                    <div class="footer-col-block inner-col">
                        <div class="tf-collapse-content">
                            <ul class="footer-menu-list">
                                <li><a href="#">Magazin</a></li>
                                <li><a href="#">Licitii</a></li>
                                <li><a href="#">Autenticitate</a></li>
                                <li><a href="#">Ghid cumparator</a></li>
                                <li><a href="#">Ghid vanzator</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-inner-wrap s3">
                    <div class="footer-col-block inner-col">
                        <div class="tf-collapse-content">
                            <ul class="footer-menu-list">
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Tichete</a></li>
                                <li><a href="#">Retur</a></li>
                                <li><a href="#">ANPC-SAL</a></li>
                                <li><a href="#">ANPC-SOL</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /s3 -->
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-wrap text-center">
                <p class="text-dark text-center w-100">
                    © 2026 <span class="fw-medium">Snobistic.</span> Toate drepturile rezervate. <span class="fw-medium">RO23846050</span>. <span class="fw-medium">J05/1243/2008</span>.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->
