django
pillow
django-six
django-filter
django-countries
django-phonenumber-field
django-phonenumber-field[phonenumberslite]
djangorestframework
django-crispy-forms
crispy-bootstrap5
django-formtools
requests
jwt
djangorestframework-jwt
dajngo-allauth
PyJWT